<a href="https://colab.research.google.com/github/fajarkarim/dskola-home-credit/blob/exploration-fajar/AnalyzeHomeCredit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Library

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Load Dataset

In [ ]:
homecredit_column_description = "/content/gdrive/MyDrive/Digitalskola/Dataset/HomeCredit/HomeCredit_columns_description.csv"
homecredit_train_data = "/content/gdrive/MyDrive/Digitalskola/Dataset/HomeCredit/application_train.csv"
column_description = pd.read_csv(homecredit_column_description,  encoding= 'unicode_escape')
homecredit_df = pd.read_csv(homecredit_train_data)

homecredit_df.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]